* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4rem;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f0db66be;
}

.container-hide {
  position: relative;
  opacity: 0;
  right: -100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: repeating-linear-gradient(
    90deg,
    rgba(157, 212, 215, 0.5),
    rgba(165, 186, 189, 0.5),
    rgba(157, 212, 215, 0.5)
  );
  position: relative;
  opacity: 100;
  right: 0;
  transition: right ease-out 1s, opacity ease-out 1s;
}

.section-container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  max-height: 1024px;
  margin-top: 0;
  background-color: #9dd4d7;
}

#home {
  background-image: url('./images/home-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.active {
  background-color: rgb(92, 104, 104);
}

.top-active {
  background-color: rgb(137, 153, 153);
}

.navbar {
  display: grid;
  position: sticky;
  top: 0;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.fa-octopus-deploy {
  grid-column: 2 / span 1;
  justify-self: center;
  padding-top: 1rem;
  font-size: 4rem;
}

.fa-bars::before {
  display: none;
  font-size: 4rem;
}

.fa-times::before {
  display: none;
  font-size: 4rem;
}

.phone-nav {
  display: none;
}

.navbar-items {
  grid-column: 4 / span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  list-style-type: none;
  background-color: rgb(163, 184, 184);
  height: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

#nav-item-home {
  grid-column: 1 / span 2;
}

#nav-item-about {
  grid-column: 4 / span 2;
}

#nav-item-top {
  grid-column: 7 / span 2;
  position: relative;
}

#hide {
  opacity: 0%;
  transition: opacity 1s;
}

#show {
  opacity: 100%;
  transition: opacity 1s;
}

.top-dropdown {
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(168, 189, 190, 0.5);
  width: 100%;
  opacity: 0%;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dropdown-item {
  padding: 0.5rem 0;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}

#nav-top-animemanga {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fa-caret-down {
  cursor: pointer;
}

.text-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 4rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  align-items: center;
  margin-top: 120px;
  font-size: 1.5rem;
}

.titles {
  grid-column: 2 / span 5;
}

.main-title {
  font-size: 4rem;
}

.sub-title {
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.text-item {
  grid-column: 2 / span 3;
}

.top-btn {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #f0db66;
  border-radius: 15px;
  cursor: pointer;
}

.top-heading {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  font-size: 4rem !important;
  background-color: #9dd4d7;
}

.carousel {
  position: relative;
  height: 90%;
  max-height: 874px;
}

.chevron {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  opacity: 50%;
  cursor: pointer;
}

.chevron:hover {
  color: #fff;
}

.fa-chevron-left {
  left: 25px;
}

.fa-chevron-right {
  right: 25px;
}

.top-section {
  display: grid;
  top: 0;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  height: 90vh;
  max-height: 874px;
}

.top-text-items {
  padding-top: 2rem;
  grid-column: 4 / span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  height: 30vh;
  max-height: 300px;
}

.top-text-slogan {
  font-size: 4rem;
}

.top-text-subtext {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.25);
}

.top-text-btn {
  height: 100px;
  width: 450px;
  border-radius: 15px;
  background-color: #a7bbd6;
  font-size: 2rem;
  cursor: pointer;
}

.top-text-btn:hover {
  background-color: #a7bbd686;
}

.top-hidden {
  opacity: 0;
  display: none;
}

#food {
  background-image: url('/images/food.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  transition: background-image 0.5s;
}

#drink {
  background-image: url('/images/drink.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  transition: background-image 0.5s;
}

#tv {
  background-image: url('/images/tv.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  transition: background-image 0.5s;
}

#movie {
  background-image: url('/images/movie.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  transition: background-image 0.5s;
}

#animemanga {
  background-image: url('/images/animemanga.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  transition: background-image 0.5s;
}

#about {
  background-color: #9dd4d7;
}

.about-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  grid-column-gap: 20px;
  padding: 5rem 0;
}

.about-text {
  grid-column: 2 / span 5;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.about-title {
  font-size: 3rem;
}

.about-btn {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #f0db66;
  height: 100px;
  width: 50%;
  border-radius: 15px;
}

.about-img {
  grid-column: 8 / span 4;
  width: 100%;
  border-radius: 15px;
}

.footer {
  background-color: #25585a;
  height: 500px;
  width: 100%;
  max-width: 1440px;
  text-align: center;
  position: relative;
  color: #fff;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  height: 95%;
  width: 100%;
  max-width: 1440px;
  padding: 4rem 0;
  position: relative;
}

#logo-lg {
  position: static;
  margin-top: 0;
  font-size: 12rem;
  grid-column: 1 / span 6;
  align-self: center;
}

.sitemap {
  grid-column: 7 / span 2;
}

.sitemap a {
  color: white;
}

.sitemap-title {
  font-size: 2rem;
}

.sitemap-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  height: 100%;
}

.sitemap-item-name {
  margin-top: 1rem;
}

.sitemap-top5s {
  margin-top: 0.5rem;
  list-style-type: none;
  font-weight: 400;
  font-size: 1rem;
}

.sitemap-top-name {
  margin-top: 0.5rem;
}

.contact {
  grid-column: 9 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-detail {
  font-size: 1.5rem;
}

/* Start Top Page */
#top {
  padding-top: 50px;
}

.top-5-heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.top-5-sub {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: #666;
}

.top-list {
  background-color: #f0db66;
  max-height: none;
}

.top-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: repeat(auto, auto);
  height: 100%;
}

.top-entry {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  padding: 2rem 0;
}
.top-image {
  grid-column: 2 / span 4;
  border-radius: 15px;
  width: 100%;
}

.top-number {
  display: flex;
  grid-column: 7;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  font-weight: 700;
  background-color: #c4c4c4;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.top-entry-description {
  grid-column: 8 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-entry-name {
  font-size: 2rem;
}

.top-entry-text {
  font-size: 1.5rem;
}
/* End Top Page */

@media screen and (max-height: 899px) {
  .text-container {
    font-size: 1.2rem;
    margin-top: 60px;
    grid-row-gap: 3rem;
  }

  .main-title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .top-btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem !important;
  }

  #home {
    padding-top: 0;
  }

  .section-container {
    height: 50vh;
    width: 100%;
    margin-top: 0;
    position: relative;
  }

  .navbar {
    display: block;
    position: static;
  }

  .fa-octopus-deploy {
    grid-column: 1;
    display: block;
    position: absolute;
    padding-top: none;
    top: 2rem;
    left: 2rem;
  }

  .fa-bars::before {
    display: block;
    position: fixed;
    z-index: 10;
    top: 2rem;
    right: 2rem;
  }

  .fa-times::before {
    display: block;
    position: fixed;
    z-index: 10;
    top: 2rem;
    right: 2rem;
  }

  .phone-nav {
    display: block;
  }

  #show-phone-nav {
    opacity: 100;
    transition: opacity 0.5s;
  }

  #hide-phone-nav {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .navbar-items {
    display: none;
  }

  .phone-nav {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: fixed;
    top: 60px;
    right: 2rem;
    z-index: 999;
    list-style-type: none;
    background-color: rgba(154, 211, 220, 0.7);
    border: 0.1px solid white;
    border-radius: 15px;
    font-size: 2rem;
  }

  .active {
    background-color: rgba(42, 132, 146, 0.7);
  }

  .top-active {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .phone-nav-item {
    text-align: center;
    padding: 2rem 0;
    width: 100%;
  }

  .phone-nav-item a {
    text-decoration: none;
    color: black;
    width: 100%;
  }

  .phone-nav-top {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .phone-nav-top-item {
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 100%;
  }

  .phone-nav-top-item a {
    width: 100px;
  }

  #phone-nav-home {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #phone-nav-top-animemanga {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .text-container {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: center;
    font-size: 1rem;
    margin-top: 100px;
  }

  .titles {
    grid-column: 2 / span 5;
  }

  .sub-title {
    font-size: 1.25rem !important;
  }

  .text-item {
    grid-column: 2 / span 4;
  }

  .top-btn {
    padding: 2rem;
    font-size: 1rem;
  }

  .top-heading {
    height: 5vh;
    font-size: 3rem !important;
  }

  .carousel {
    position: relative;
    height: 45vh;
  }

  .chevron {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    opacity: 50%;
    cursor: pointer;
  }

  .chevron:hover {
    color: #fff;
  }

  .fa-chevron-left {
    left: 25px;
  }

  .fa-chevron-right {
    right: 25px;
  }

  .top-section {
    display: grid;
    top: 0;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    height: 45vh;
  }

  .top-text-items {
    padding-top: 0rem;
    justify-content: space-evenly;
    font-size: 2rem;
    height: 20vh;
    max-height: 300px;
  }

  .top-text-subtext {
    font-size: 1.5rem;
  }

  .top-text-btn {
    height: 30px;
    width: 120px;
    font-size: 1rem;
  }

  .about-text {
    height: 25vh;
    font-size: 1rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-btn {
    font-size: 1rem;
    height: 25px;
    width: 75%;
  }

  .about-img {
    grid-column: 7 / span 5;
    border-radius: 15px;
    width: 100%;
  }

  .footer {
    height: 25vh;
    width: 100vw;
    text-align: center;
    position: relative;
    align-items: center;
    color: #fff;
  }

  .footer-container {
    padding: 1rem 0;
    position: relative;
    grid-column-gap: 5px;
  }

  .sitemap-item-name {
    margin-top: 0.5rem;
  }

  .sitemap-top5s {
    margin-top: 0.5rem;
  }

  .sitemap-top-name {
    margin-top: 0.25rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
  }

  #phone-logo {
    position: static;
    margin-top: 0;
  }

  #logo-lg {
    position: static;
    align-self: center;
  }

  .contact-detail {
    font-size: 1rem;
  }

  #top-food {
    height: max-content;
  }

  .top-entry {
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 10px;
  }

  .top-number {
    grid-row: 1;
    grid-column: 2 / span 1;
  }

  .top-image {
    grid-column: 2 / span 9;
  }

  .top-entry-description {
    grid-column: 2 / span 9;
  }
}
